<% @events = Event.published.in_the_future.chronologically %>

<% unless @events.blank? %>
  <h2><%= heading || 'upcoming events' %></h2>
  <% @events.each do |event| %>
    <div class="sidebar-individual-event">
      <h3><%= link_to event.name, event %></h3>
      <h4>starting: <%= l event.starts_at, format: :tkh_default %></h4>
      <p>
        <%= event.description %><br />
        <%= link_to 'see details', event %>
      </p>
    </div>
  <% end %>
<% end %>
