<%= render 'header' %>

<%= will_paginate @events %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Pic</th>
      <th>Program Details</th>
    </tr>
  </thead>

  <tbody>
    <% unless @events.nil? %>
      <% @events.each do |event| %>
        <tr>
          <td><%= image_tag event.image.thumbnail %></td>
          <td>
            <%= "#{link_to event.name, event} <span class='badge'>#{event.registrations.count}/#{event.maximum_number_of_registrants}</span>".html_safe %><br />
            starting <%= l event.starts_at, format: :tkh_default %><br />
            <%= link_to "<span class='glyphicon glyphicon-eye-open'></span> admin view".html_safe, admin_view_event_path(event), class: 'btn btn-xs btn-default' %><%= link_to "<span class='glyphicon glyphicon-pencil'></span> edit".html_safe, edit_event_path(event), class: 'btn btn-xs btn-primary' %><%= link_to "<span class='glyphicon glyphicon-plus'></span> duplicate".html_safe, duplicate_event_path(event), class: 'btn btn-xs btn-default', method: :post %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr><td colspan="3">There are no events yet.</td></tr>
    <% end %>
  </tbody>

</table>

<p><%= link_to "<span class='glyphicon glyphicon-plus'></span> new event".html_safe, new_event_path, class: 'btn btn-default' %></p>

<%= will_paginate @events %>

<%= render 'shared/admin_sidebar' %>
