<% content_for :meta_title, @event.name %>
<% content_for :meta_description, @event.description %>
<% content_for :canonical_link, link_to('', @event, rel: 'canonical') %>

<%= render 'draft_notice' unless @event.published? %>

<h1><%= @event.name %></h1>
<p class='event-starting-date'>
  <strong>Starting Date & Time</strong><br />
  <%= l @event.starts_at, format: :tkh_default %>
</p>

<%= raw @event.body %>

<%= render( 'admin_context_menu', event: @event) %>
<%# partial in tkh_menus gem or has to be added in host app %>
<%= render './shared/menus' %>
